<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <meta http-equiv="refresh" content="5; url = https://esizl.esizl.repl.co/" /> 
  <link rel="shortcut icon" type="image/jpg" href="/assets/sleeping.png"/>
  <title>Home</title>
</head>
<body>
  <h1>404: Page Not Found</h1>

  <div class="progressBar">
    <!-- <progress value="0" max="5" id="progressBar"></progress> -->
  
    <p style="text-align:center;"> 
		  Redirecting you in <span id="countdown">5</span>
	  </p>
  </div>

  <script>
    var seconds = document.getElementById("countdown").textContent;
    var countdown = setInterval(function() {
      seconds--;
      document.getElementById("countdown").textContent = seconds;
      document.title = `Redirecting in ${seconds}`
    if (seconds <= 0) clearInterval(countdown);
    }, 1000);
  </script>

  <script src="/js/redirect.js"></script>
</body>
</html>