<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" type="image/jpg" href="/assets/sleeping.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
  <title>Home | Esizl</title>
</head>

<body>
	<!-- <nav>
    <h1>Esizl</h1>
    <div class="topnav" id="topnav">
		  <a href="/" class="active">Home</a>
		  <a href="/discord">Invite</a>
      <a href="https://api.esizl.xyz">&nbsp;&nbsp;API&nbsp;&nbsp;</a>
      <a href="/login">Login</a>
		  <a href="javascript:void(0);" class="icon" onclick="dropdown()">
        <i class="fas fa-bars"></i>
      </a>
    </div>
  </nav> -->

  <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Esizl</label>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/shorten">URL</a></li>
        <li><a href="https://api.esizl.xyz">Docs</a></li>
        <li><a href="/auth/login">Login</a></li>
      </ul>
    </nav>
    <section>
      
    </section>

<script src="/js/navbar.js"></script>
</body>

</html>